{% extends "base.html" %}
{% block title %}{{ service.title }}{% endblock %}
{% block content %}

    <h1>{{ service.title }}</h1>
    <p>{{ service.short_description }}</p>
    <h2>Service Features</h2>

    <ul>
        {% for feature in service.features.all %}
            <div>
                <h3>{{ feature.title }}</h3>
                <p>{{ feature.description }}</p>
            </div>
            {% empty %}
            <p>No features available for this service.</p>
        {% endfor %}
    </ul>

{% endblock %}
